.contain {
    max-height: 80vh;
    overflow-y: scroll;
}

.task {
    word-wrap: normal;
    width: 95%;
    margin: 0 auto;
    padding: 0.75em 0.5em;
}

.title {
    color: slategrey;
    width: 95%;
    margin: 0 auto;
    padding: 1em 0.5em 0;
    border-bottom: 1px solid darkgrey;
}

.category {
    background-color: lightgray;
}

.addCard {
    opacity: 0.7;
    padding: 0.3em 0 0 0.5em;
}

.addCard:hover {
    opacity: 1;
    cursor: pointer;
}

.addCard:focus {
    outline: 0;
}

body {
    background-color: rgb(74, 103, 156) !important;
}

#app {
    height: 100vh;
}

.Form {
    width: 35%;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 0.5em black;
    padding: 1em;
}

.alert {
    position: absolute !important;
    width: 100%;
}

.navbar {
    position: absolute;
    width: 100%;
    box-shadow: 0 0 0.35em black;
    z-index: 1;
}

.content {
    height: 93.5vh;
}

p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.9em !important;
}

.loginRegister {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-footer{
    display: none !important;
}

.neatButtons {
    display: flex;
    width: fit-content;
    flex-direction: column;
}
.b-icon {
    padding: 2px;
    box-sizing: content-box;
    border-radius: 5px;
}

.b-icon:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}

.bi-eye-fill {
    padding: 0;
    margin: 0 !important;
    margin-left: 15px !important;
}